<h3>Users</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Age</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Berg</td>
            <td>24</td>
            <td><a routerLink="details/1" ariaCurrentWhenActive="page">Details</a></td>
            <td><a routerLink="edit/1" ariaCurrentWhenActive="page">Edit</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>John</td>
            <td>Page</td>
            <td>35</td>
            <td><a routerLink="details/2" ariaCurrentWhenActive="page">Details</a></td>
            <td><a routerLink="edit/2" ariaCurrentWhenActive="page">Edit</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Jesse</td>
            <td>Hands</td>
            <td>22</td>
            <td><a routerLink="details/3" ariaCurrentWhenActive="page">Details</a></td>
            <td><a routerLink="edit/3" ariaCurrentWhenActive="page">Edit</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Robin</td>
            <td>Place</td>
            <td>27</td>
            <td><a routerLink="details/4" ariaCurrentWhenActive="page">Details</a></td>
            <td><a routerLink="edit/4" ariaCurrentWhenActive="page">Edit</a></td>
        </tr>
    </tbody>
</table>