<h3 *ngIf="user">Edit - {{ user.firstName }}</h3>
<h3 *ngIf="!user">Add</h3>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" novalidate>
    <label for="firstName">First Name: </label><br />
    <input type="text" id="firstName" name="firstName" [(ngModel)]="tempUser!.firstName"><br />

    <label for="lastName">Last Name: </label><br />
    <input type="text" id="lastName" name="lastName" [(ngModel)]="tempUser!.lastName"><br />
    
    <label for="email">Email: </label><br />
    <input type="text" id="email" name="email" [(ngModel)]="tempUser!.email"><br />

    <label for="birthday">Birthday: </label><br />
    <input type="text" id="birthday" name="birthday" (ngModel)="tempUser!.birthday" [ngModel]="tempUser!.birthday | date: 'MM/dd/yyyy'"><br />

    <button *ngIf="user" class="btn btn-primary">Edit user</button>
    <button *ngIf="!user" class="btn btn-primary">Add user</button>
</form>